@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("../fonts/BebasNeue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: rgba(0, 0, 0, .1);
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */


/* RETINA BG */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url("../img/left-bg@2x.jpg");
    }



    /* LEFT WRAPPER */
.wrapper-container {
    display: flex;
}


.wrapper-left {
    width: 50%;
    padding: 326px 157px;
    background-image: url("../img/left-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-left-title {
    color: #fff;
    width: 285px;
    font-family: "Bebas Neue";
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 28.8px;
}


/* MAIN-LINK */
.main-link {
    display: inline-block;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Bebas Neue", "Arial", "sans-serif";
}

.main-link-inner {
    display: flex;
    padding: 12px 24px;
}

.main-link:hover {
    opacity: 0.6;
    background-color: rgba(30, 144, 255, 0.6);
}

.main-link:active {
    opacity: 0.8;
}

.main-link-inner::before {
    content:" ";
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}



/* WRAPPER RIGHT */
.wrapper-right {
    width: 50%;
    max-width: 600px;
    padding: 54px 54px 298px 54px;
    background-color: #fff;
}

.last-child-title {
    border-bottom: 1px solid #999999;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    color: #222222;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 28.8px;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: "Bebas Neue", "Arial", sans-serif;
}

.last-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.last-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 492px;
}

.text-wrapper {
    padding: 16px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 14px;
    line-height: 16,41px;
    color: #888888;
}

.text-wrapper-title {
    margin: 0;
    margin-bottom: 4px;
    font-family: "Bebas Neue", cursive;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: #222222;
    font-weight: 400;
}

.text-wrapper-info {
    display: flex;
}

.text-wrapper-time {
    color: #888888;
    font-size: 14px;
    line-height: 16.41px;
    margin-right: 24px;
    display: flex;
}

.text-wrapper-time::before {
    content: "";
    background-image: url("../img/watch.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
}

.text-wrapper-count {
    color: #666666;
    font-size: 14px;
    line-height: 16.41px;
    display: flex;
}

.text-wrapper-count::before {
    content: "";
    background-image: url("../img/watch.svg");
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.last-list-item:last-child {
    margin-bottom: 23px;
}


.btn-download {
    border: none;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1E90FF;
    width: 100%;
}

.btn-download span{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto Condensed";
    font-weight: 700;
    color: #fff;
}

.btn-download:hover {
    opacity: 0.8;
}

.btn-download:active {
    opacity: 0.6;
}